{% macro get_links(username) -%}
{{ username }}: [[JAR](https://github.com/{{ username }}/duke/releases)][[User Guide](https://{{ username }}.github.io/duke)][[Code](https://nus-cs2103-{{ semester | lower }}.github.io/ip-dashboard/#sort=groupTitle&groupSelect=groupByAuthors&search={{ username }}&sortWithin=title&since=2019-08-16&timeframe=commit&mergegroup=false&breakdown=false&tabOpen=true&tabType=authorship&tabAuthor={{ username }}&tabRepo={{ username }}%2Fduke%5Bmaster%5D)]
{%- endmacro  %}

{% macro show_allocation_table() %}
{% set allocations = [
["AaronCQL", "BransonNg", "Exeexe93"],
["AdarshChugani", "joel-lim", "e0316059"],
["Amoscheong97", "zenatrick", "PangKimJin"],
["BenFheng", "PotatoCombat", "shunde97"],
["BransonNg", "CornCobs", "alam8064"],
["BryanYap972", "Hardoh", "tharshita"],
["CharmaineKoh", "Zhu-Ruicong", "aakanksha-rai"],
["Cherweijie", "foochifa", "nelsontky"],
["ChesterSim", "shunde97", "CharmaineKoh"],
["CheyanneSim", "aakanksha-rai", "BenFheng"],
["Clouddoggo", "gerhean", "AaronCQL"],
["CornCobs", "Vanessa1098", "Clouddoggo"],
["CranstonYeo", "gohkh", "LiuChao93"],
["DANamic", "capeguy", "JJiahui"],
["Dban1", "fatin99", "xuanxinng"],
["Denise-Ng", "LiuChao93", "Cherweijie"],
["Deunitato", "tharshita", "buddhavineeth"],
["EdmondOng", "DANamic", "yjskrs"],
["ElysiaTanZY", "grrrrnt", "weiichengg"],
["ErnTekTeoh", "terencemah", "ShengXue97"],
["Exeexe93", "alam8064", "gyant6"],
["FangShaoHua94", "lth08091998", "seanlowcy77"],
["FeliciaTay", "jiachen247", "J-Dan23"],
["FyonnOh", "Cherweijie", "joshlay96"],
["GreenMapleLeaves", "Dban1", "lsjxavier"],
["Guofeng-Tang", "ChesterSim", "gb3h"],
["Hardoh", "Kangwkk", "beatricetay"],
["HemanshuGandhi", "Yuanyu97", "WANG-Yuchen-Alice"],
["HubertHalim", "tanphatls987", "chishanw"],
["IYVVVVV", "raniceyue", "dawidjaja"],
["J-Dan23", "Permas-Teo", "aliciatxl"],
["JJiahui", "muhd97", "suwoons"],
["JKOK005", "weiichengg", "joel-lim"],
["Jarrod-Bob", "zhuhanming", "phaebaez"],
["JeremyLoh", "teriaiw", "don-tay"],
["JingYuOng", "dargohzy", "waynewee"],
["KEVVVINN", "loycatherine", "CornCobs"],
["Kangwkk", "buddhavineeth", "thetruevincentchow"],
["LiuChao93", "bscrow", "foochifa"],
["NNpanpan", "agnesnatasya", "raivatshah"],
["NicholasCF", "JingYuOng", "lohszeying"],
["PangJiaDa", "tiendat161", "agnesnatasya"],
["PangKimJin", "zhouxinwei97", "eugenetyc"],
["Permas-Teo", "alloystory", "teikjun"],
["PotatoCombat", "gb3h", "chlalstjr"],
["SHAUNGOH97", "umaikaze", "limdylan"],
["Samanthaseahpl", "chanckben", "kschiew"],
["ShengXue97", "sheexiong", "ziyingli"],
["TheElectricBlender", "duongphammmm", "grrrrnt"],
["Vanessa1098", "gyant6", "gerhean"],
["WANG-Yuchen-Alice", "aegis-bot", "Yonggiee"],
["WillySeahh", "Denise-Ng", "FyonnOh"],
["XinPei-ng", "akhilvuputuri", "wardetu"],
["YingxuH", "hmtey", "Amoscheong97"],
["Yonggiee", "alushingg", "kevinputera"],
["Yuanyu97", "XinPei-ng", "aegis-bot"],
["Yujian-Fu", "heidicrq", "fatin99"],
["YuuTon9", "nathanaelseen", "jiachen247"],
["ZhangYiping126", "Amoscheong97", "kester-ng"],
["Zhu-Ruicong", "haveaqiupill", "Guofeng-Tang"],
["aakanksha-rai", "Guofeng-Tang", "PotatoCombat"],
["aegis-bot", "wardetu", "alushingg"],
["agnesnatasya", "nhamhung", "ailanthustng"],
["ailanthustng", "wyt-sonia", "dinhnhobao"],
["airshhlay", "alcen", "teriaiw"],
["akhilvuputuri", "Yonggiee", "pekchinsiongbrian"],
["alam8064", "Clouddoggo", "zixinn"],
["alcen", "wanxuanong", "Jarrod-Bob"],
["aliciatxl", "teikjun", "nathanaelseen"],
["alloystory", "YuuTon9", "FeliciaTay"],
["alushingg", "HemanshuGandhi", "artlee06"],
["amrl", "yjskrs", "mikhailfaiz"],
["artlee06", "WANG-Yuchen-Alice", "akhilvuputuri"],
["beatricetay", "thetruevincentchow", "tohkerwei"],
["bscrow", "joshlay96", "oLiXino"],
["buddhavineeth", "leslieharland", "yaojiethng"],
["capeguy", "mikhailfaiz", "muhd97"],
["chanckben", "dawidjaja", "garysyndromes"],
["chishanw", "xCelestialPhoenix", "souwmyaa"],
["chlalstjr", "CheyanneSim", "haveaqiupill"],
["chrisjwelly", "limdylan", "GreenMapleLeaves"],
["chuayijing", "syinyichen", "zwasd"],
["dargohzy", "jumpcutfindo", "shenghaoc"],
["dawidjaja", "nidorinas", "helloImHai"],
["dinhnhobao", "NNpanpan", "mightyrabbit99"],
["don-tay", "mario7lorenzo", "hans555"],
["duongphammmm", "JKOK005", "AdarshChugani"],
["e0316059", "TheElectricBlender", "ElysiaTanZY"],
["eclmist", "tingalinga", "gx-huang"],
["eedenong", "khsc96", "tanphatls987"],
["eugenetyc", "ZhangYiping126", "watsheldon"],
["fatin99", "SHAUNGOH97", "chrisjwelly"],
["firzanarmani", "chuayijing", "zsoh97"],
["foochifa", "oLiXino", "WillySeahh"],
["garysyndromes", "helloImHai", "sigmund-c"],
["gb3h", "CharmaineKoh", "CheyanneSim"],
["gerhean", "KEVVVINN", "BransonNg"],
["gohkh", "FyonnOh", "bscrow"],
["gracegrape", "eugenetyc", "hmtey"],
["grrrrnt", "AdarshChugani", "ivanteejj"],
["gruntultra", "JeremyLoh", "wanxuanong"],
["gx-huang", "hanchingyong", "ErnTekTeoh"],
["gyant6", "zixinn", "KEVVVINN"],
["hanchingyong", "ljiazh3ng", "terencemah"],
["hans555", "gruntultra", "alcen"],
["harrychengly", "IYVVVVV", "chanckben"],
["haveaqiupill", "BenFheng", "ChesterSim"],
["heidicrq", "lsjxavier", "SHAUNGOH97"],
["helloImHai", "harrychengly", "Samanthaseahpl"],
["hhjoel", "sp-shaopeng", "JingYuOng"],
["hmtey", "watsheldon", "zenatrick"],
["huixianc", "mpang45456", "DANamic"],
["ignatiusong", "aliciatxl", "YuuTon9"],
["ivanteejj", "e0316059", "kevinswk94"],
["jadetayy", "J-Dan23", "ignatiusong"],
["jeremylow97", "lohszeying", "jumpcutfindo"],
["jerrenss", "chishanw", "ongch00"],
["jiachen247", "lacedaemon98", "Permas-Teo"],
["joel-lim", "l2ejected", "TheElectricBlender"],
["johannagwan", "vuhieunguyen", "syinyichen"],
["joshlay96", "nelsontky", "CranstonYeo"],
["joycelynteo", "sharadhr", "PangJiaDa"],
["jumpcutfindo", "tzihiang", "hhjoel"],
["junhaotan", "suwoons", "mpang45456"],
["jwee97", "firzanarmani", "vuhieunguyen"],
["kester-ng", "PangKimJin", "gracegrape"],
["kevinputera", "artlee06", "XinPei-ng"],
["kevinswk94", "ElysiaTanZY", "JKOK005"],
["khsc96", "jerrenss", "lm5lm5"],
["kschiew", "garysyndromes", "youaremysky99"],
["l2ejected", "kevinswk94", "duongphammmm"],
["lacedaemon98", "ignatiusong", "alloystory"],
["leslieharland", "tohkerwei", "teo-jun-xiong"],
["limdylan", "Yujian-Fu", "Dban1"],
["ljiazh3ng", "sancharib-git", "eclmist"],
["lm5lm5", "ongch00", "shanecsj"],
["lohszeying", "waynewee", "tzihiang"],
["loycatherine", "Exeexe93", "Vanessa1098"],
["lsjxavier", "xuanxinng", "umaikaze"],
["lth08091998", "jwee97", "johannagwan"],
["mario7lorenzo", "phaebaez", "gruntultra"],
["mightyrabbit99", "raivatshah", "joycelynteo"],
["mikhailfaiz", "junhaotan", "huixianc"],
["mpang45456", "amrl", "capeguy"],
["muhd97", "huixianc", "EdmondOng"],
["nathanaelseen", "jadetayy", "lacedaemon98"],
["ncslzh", "GreenMapleLeaves", "heidicrq"],
["nelsontky", "WillySeahh", "gohkh"],
["nhamhung", "joycelynteo", "wyt-sonia"],
["nidorinas", "youaremysky99", "harrychengly"],
["nigelnnk", "gracegrape", "YingxuH"],
["oLiXino", "CranstonYeo", "Denise-Ng"],
["ongch00", "souwmyaa", "eedenong"],
["pekchinsiongbrian", "kevinputera", "Yuanyu97"],
["phaebaez", "airshhlay", "JeremyLoh"],
["raivatshah", "ailanthustng", "sharadhr"],
["raniceyue", "kschiew", "nidorinas"],
["ray-97", "seanlowcy77", "firzanarmani"],
["sancharib-git", "ShengXue97", "tingalinga"],
["seanlowcy77", "johannagwan", "chuayijing"],
["shanecsj", "eedenong", "HubertHalim"],
["sharadhr", "dinhnhobao", "tiendat161"],
["sheexiong", "gx-huang", "tianqi77"],
["shenghaoc", "hhjoel", "NicholasCF"],
["shunde97", "chlalstjr", "Zhu-Ruicong"],
["sigmund-c", "Samanthaseahpl", "raniceyue"],
["souwmyaa", "yapdianhao", "khsc96"],
["sp-shaopeng", "jeremylow97", "dargohzy"],
["suwoons", "EdmondOng", "amrl"],
["syinyichen", "FangShaoHua94", "ray-97"],
["tanphatls987", "lm5lm5", "xCelestialPhoenix"],
["teikjun", "FeliciaTay", "jadetayy"],
["teo-jun-xiong", "Deunitato", "Kangwkk"],
["terencemah", "eclmist", "sheexiong"],
["teriaiw", "Jarrod-Bob", "mario7lorenzo"],
["tharshita", "beatricetay", "leslieharland"],
["thetruevincentchow", "yaojiethng", "BryanYap972"],
["tianqi77", "ErnTekTeoh", "sancharib-git"],
["tiendat161", "mightyrabbit99", "nhamhung"],
["tingalinga", "ziyingli", "hanchingyong"],
["tohkerwei", "BryanYap972", "Deunitato"],
["tzihiang", "wxwxwxwx9", "sp-shaopeng"],
["umaikaze", "ncslzh", "Yujian-Fu"],
["vuhieunguyen", "zsoh97", "FangShaoHua94"],
["wanxuanong", "don-tay", "zhuhanming"],
["wardetu", "pekchinsiongbrian", "HemanshuGandhi"],
["watsheldon", "kester-ng", "nigelnnk"],
["waynewee", "shenghaoc", "wxwxwxwx9"],
["weiichengg", "ivanteejj", "l2ejected"],
["wxwxwxwx9", "NicholasCF", "jeremylow97"],
["wyt-sonia", "PangJiaDa", "NNpanpan"],
["xCelestialPhoenix", "shanecsj", "yapdianhao"],
["xuanxinng", "chrisjwelly", "ncslzh"],
["yaojiethng", "teo-jun-xiong", "Hardoh"],
["yapdianhao", "HubertHalim", "jerrenss"],
["yjskrs", "JJiahui", "junhaotan"],
["youaremysky99", "sigmund-c", "IYVVVVV"],
["zenatrick", "nigelnnk", "zhouxinwei97"],
["zhouxinwei97", "YingxuH", "ZhangYiping126"],
["zhuhanming", "hans555", "airshhlay"],
["zixinn", "AaronCQL", "loycatherine"],
["ziyingli", "tianqi77", "ljiazh3ng"],
["zsoh97", "zwasd", "lth08091998"],
["zwasd", "ray-97", "jwee97"]
] %}

Your username | 1st iP to evaluate | 2nd iP to evaluate
--------------|--------------------|------------------
{% for allocation in allocations  -%}
{{ allocation[0] }} | {{ get_links(allocation[1]) }} | {{ get_links(allocation[2]) }}
{% endfor %}
{% endmacro %}